<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Duracion (Minutos):</strong>
  <%= @concert.length %>
</p>

<p>
  <strong>Asistentes:</strong>
  <%= @concert.attendants %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @concert.group.name %>
</p>

<%= link_to 'Editar', edit_group_concert_path(@group, @concert) %> |
<%= link_to 'Volver', group_concerts_path(@group) %>
